{% extends "layout.twig" %}
{% block local %}Inserir tags{% endblock %}

{% block content %}
    <div class="jumbotron">

        <table class="table table-striped">
            <thead>
            <tr>
                <th>NOME</th>
                <th></th>
                <th>AÇÕES</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <form action="{{ path('inserirTag') }}" method="post">
                    <td><input type="text" name="nome_tag" value=""></td>
                    <td><button class="btn btn-success " type="submit" name="inserirTag" >Cadastrar</button></td>
                </form>
            </tr>
            </tbody>
        </table>
        <a href="{{ path('tags') }}"><button class="btn btn-info " type="submit" name="voltar" >Voltar</button></a>
    </div><!-- /jumbotron -->
{% endblock %}