{% extends "layout.twig" %}
{% block local %}Visualizar tag{% endblock %}

{% block content %}
    <div class="jumbotron">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>NOME</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ tag.id }}</td>
                <td>{{ tag.nome_tag }}</td>

            </tbody>
        </table>
        <a href="{{ path('tags') }}"><button class="btn btn-warning " type="submit" name="voltar" >Voltar para lista de tags</button></a>
    </div><!-- /jumbotron -->
{% endblock %}